
.rows {
    display: inline-flex;
    border: 1px solid black;
    min-width: 30px;
    min-height: 30px;
}

.columns {
    display: inline-flex;
    border: 1px solid black;
    min-width: 30px;
    min-height: 30px;
}

button {
    padding: 10px;
    margin: 10px;
}

#container {
    
    max-width: 960px;

}